<!DOCTYPE html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'date_guesser/box_layout.css' %}">
    <link rel="stylesheet" href="{% static 'date_guesser/style.css' %}">
</head>

<body>
    <main class="flex flex-vertical">
        <header>
            <h1 class="heavy upper">
                Guess the date!
            </h1>
            <p>
                Guess the year an image was taken, or a document was created.
            </p>
        </header>
        

        <div id="letter-box" class="flex content-center">
            <img id="main-image" src="{{ item.image.image.url }}" />
        </div>
        <div id="provided-by" class="small-info">
            Provided by {{ item.provider }}
        </div>
        <div id="year-box">
            {% if is_result %}
                {% if is_valid %}
                        
                        <div id="score-box" class="flex content-center">
                            {% if off_by == 0 %}
                            Perfect!
                            {% else %}
                            Off by {{ off_by }} year{% if off_by != 1 %}s{% endif %}.
                            {% endif %}
                        </div>
                        <div class="horizontal-flex flex content-center">
                            <div id="guessed-year" class="inline-flex flex-grow content-center">
                                You guessed: {{ guessed_year }}
                            </div><div id="actual-year" class="inline-flex flex-grow content-center">
                                Actual year: {{ actual_year }}
                            </div>
                        </div>
                        <div id="citation" class="small-info">
                            {{ citation.citation|safe }}
                        </div>
                        <a href="{% url 'random' %}" class="button-wrapper">
                            <button class="flex submit wide content-center">  
                                Next!
                            </button>
                        </a>
                        
                {% else %}
                        Invalid guess: {{ guessed_year }}
                {% endif %}
            {% else %}
            <div id="range-box">
            
            </div>
            <form id="year-form" action="." method="post" class="flex flex-vertical content-center">
                {% csrf_token %}
                {{ year_form }}<input type="submit" class="heavy upper" value="Guess!"/>
            </form>
            {% endif %}
        </div>
    </main>
</body>