<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'date_guesser/box_layout.css' %}">
        <link rel="stylesheet" href="{% static 'date_guesser/testing.css' %}">
    </head>
    <body class="flex flex-vertical">
        <main class="flex flex-vertical">
            <header>
                <h1>
                    Guess the Year!
                </h1>
            </header>
            <img id="main-image" src="{{ item.image.image.url }}" class="dark">
            
            <div id="year-box">
                {% if not is_result %}
                <form class="flex flex-horizontal" method="post" target="_self">
                    {% csrf_token %}{{ year_form }}<input type="submit" class="flex dark" value="Guess!">
                </form>
                {% else %}
                <div class="flex flex-grow content-center dark result-box heavy">
                    {% if off_by == 0 %}
                    Perfect!
                    {% else %}
                    Off by {{ off_by }} year{% if off_by != 1 %}s{% endif %}
                    {% endif %}
                </div>
                <div class="flex flex-grow flex-horizontal">
                    <div class="flex flex-grow content-center result-box">
                        You guessed: {{ guessed_year }}
                    </div>
                    <div class="flex flex-grow content-center result-box">
                        Correct year: {{ actual_year }}
                    </div>
                </div>
                <a class="flex flex-grow" href="{% url 'random' %}">
                    <button class="flex flex-grow dark content-center heavy">Next!</button>
                </a>
                {% endif %}
            </div>
            <footer class="small flex-horizontal flex">
                <div id="provided-by" class="flex">
                    Image provided by
                </div>
                <div class="flex flex-grow content-center small">
                    <span>
                    {% if is_result %}
                        {{ citation | safe }}
                    {% endif %}
                    </span>
                </div>
                <div class="flex">
                    <a href="https://github.com/vschweitzer/year_guesser">Visit the repository</a>
                </div>
            </footer>
        </main>
    </body>
</html>