:root {
    --main-dark: #000;
    --background: #fff;
    --light-shade: #c0c0c0;
    --dark-shade: #303030;
    --default-font: "Urbanist SemiBold";
    --heavy-font: "Urbanist Black";
}


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: var(--default-font), sans-serif;
    font-size: 20px;
    color: var(--main-dark);
    background-color: var(--background);
}

main {
    max-width: 50rem;
    margin: 0 auto;
    padding: 0;
}

main * {
    max-width: inherit;
}

header {
    margin: 0;
    padding: 0;
}

header * {
    margin: 0;
    padding: 0;
}

header h1 {
    font-size: 3em;
}

#letter-box {
    background-color: var(--main-dark);
    max-height: 30rem;
    max-width: 100%;
}

#main-image {
    max-height: inherit;
}

#year-form {
    /* background-color: #0f0; */
}

#year-form input, #year-form label, button {
    height: 3rem;
    font-size: 1.75rem;
    text-align: center;
    font-family: var(--default-font);
}

#year-box * {
    /*font-size: 1.5em;*/
    padding: 0.25em;
}

#score-box {
    font-size: 2.5em;
    padding: 0.25em;
}

.small-info {
    /* background-color: var(--main-dark);
    color: var(--background); */
    font-size: 0.5em;
}

.button-wrapper {
    margin: 0;
    padding: 0;
    display: block;
    text-decoration: none;
    color: inherit;
}

input, .submit {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
}

.submit {
    border-style: none;
    border-color: var(--main-dark);
    border-width: 0;
}

input[type=submit], input[type=button], .submit {
    background-color: var(--main-dark);
    color: var(--background);
    border-style: none;
    border-style: solid;
    border-bottom-width: 0.15em;
    border-color: var(--light-shade);
    padding: 0.15em;
}

input[type=submit]:active, input[type=button]:active, .submit:active {
    border-top-width: 0.15em;
    border-top-color: var(--dark-shade);
    border-bottom-width: 0;
}

.heavy {
    font-family: var(--heavy-font) !important;
}

.upper {
    text-transform: uppercase;
}

.wide {
    width: 100%;
}

* {
    box-sizing: border-box;
}